<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<style>

select { 
	width: 100%; 
	margin-bottom: 10px; 
	background: #fff;
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #092756;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
}
.login{
top: 20%;
}
</style>
</head>

<body>
 <div class="login">
	  <h4>Predict who churns from service </h4>


     <!-- Main Input For Receiving Query to our ML -->
    <form action= "/y_predict" method="post">
		<select name="Geography" required="required">
		  <option value="">Select Geography </option>
		  <option value= France>France</option>
		  <option value= Germany>Germany</option>
		  <option value= Spain>Spain</option>
		</select>
		<select name="Gender" required="required">
		  <option value="">Select Gender </option>
		  <option value= Male>Male</option>
		  <option value=  Female>Female</option>
		</select>
		<select name="IsActiveMember" required="required">
		  <option value="">IsActiveMember </option>
		  <option value= 1>Yes</option>
		  <option value=  0>No</option>
		</select>
		
		<select name="HasCrCard" required="required">
		  <option value="">Has Credit Card </option>
		  <option value= 1>Yes</option>
		  <option value=  0>No</option>
		</select>
        

    <div>
        <input type="text" name="NumOfProducts" placeholder="NumOfProducts" required="required" />
        <input type="text" name="Age" placeholder="Age" required="required" />
        <input type="text" name="Tenure" placeholder="Tenure" required="required" />
        <input type="text" name="Balance" placeholder="Balance" required="required" />
        <input type="text" name="EstimatedSalary" placeholder="EstimatedSalary" required="required" />
        <input type="text" name="CreditScore" placeholder="CreditScore" required="required" />
        <button type="submit" class="btn btn-warning btn-block btn-large">Predict</button>
    </div>

    {{ prediction_text }}
   <br>
   <br>

 </div>


</body>
</html>

